<p>Összegyűjöttem néhány szoftvert amit eddig használtam a munkáim során.</p>

<h2>Operációs rendszer</h2>
<p>Operációs rendszerek tekintetében a Linuxokat jobban preferálom, viszont az Adobe termékek és még néhány alkalmazás rákényszerít, hogy Windowst használjak az asztali számítógépemen. Több linux disztribúciót is kipróbáltam már, viszont a laptopomon maradtam az Ubuntunál. Legerősebb érvem, hogy óriási community áll mögötte, minden számomra fontos alkalmazás megtalálható rá és a legtöbb eszközzel kompatibilis.</p>
<img src="template/images/ubuntu.png">

<h2>Sublime Text 3</h2>
<p>Leginkább HTML, XML, CSS és JavaScript kódolásra használom ezt a szövegszerkesztőt. Rengeteg Plugin található hozzá amit a Ctrl + Shift + P kombináció után érhetek el. Minden nyelvhez találni valamilyen kiegészítőt és remekül személyreszabható. Van lehetőségünk Projekt szinten dolgozni benne, viszont arra inkább ott vannak komolyabb <span class="alt" title="Integrált fejlesztői környezet">IDE</span>-k ahol közvetlenül tudunk adatbázishoz kapcsolódni és Projekt szinten dobálja hozzánk más fájlokban lévő osztályok metódusait.</p>
<img src="template/images/subl.png">

<h2>Jetbrains PHP Storm</h2>
<p>A PHP Storm egy IDE PHP fejlesztők számára.</p>
<img src="template/images/phpstorm.png">

<h2>XAMPP</h2>
<p>Ha csak fejlesztünk a gépünkön és nem használjuk élő szerverként, remek alternatíva lehet a XAMPP ami apache2 webszervert, php7et, mysqlt, phpmyadmint és további finomságokat nyújt számunkra.</p>
<img src="template/images/xampp.png">